# Zadanie 1

In [1]:
import pandas as pd

Wczytuję dane

In [2]:
df = pd.read_csv("zbior_danych.csv", sep=';')
df

,id,waga,wzrost,plec,dzieci,wiek,dochod,oszczednosci,jednoos,miejsce,wydatki_zyw
0,52,78.93,176.20,2,5,59,979.01,673.17,0,3,194.96
1,101,78.66,165.73,1,3,52,1043.36,543.89,0,2,259.20
2,146,74.29,171.33,1,2,57,1227.69,773.20,0,1,244.41
3,281,79.11,169.24,1,1,59,2356.74,1914.74,1,2,239.77
4,167,79.23,177.78,2,1,48,1264.95,536.29,1,3,291.05
...,...,...,...,...,...,...,...,...,...,...,...
305,136,77.59,170.41,2,3,62,1124.12,415.07,0,3,289.83
306,13,72.39,163.27,1,1,61,701.51,44.23,0,2,282.16
307,309,81.61,173.70,1,2,63,9557.08,3844.10,1,3,-10668.84
308,173,77.24,175.21,2,1,60,1182.43,710.35,0,3,246.36
309,171,75.77,161.41,1,4,61,1258.84,663.98,0,3,276.53

Zobaczmy jak wyglądają nasze dane

In [9]:
df.describe()

Dane zawierają 11 kolumn i 310 wierszy.
Braki w danych:
id              0
waga            0
wzrost          0
plec            0
dzieci          0
wiek            0
dochod          0
oszczednosci    0
jednoos         0
miejsce         0
wydatki_zyw     0
dtype: int64

Dane zawierają 11 kolumn i 310 wierszy.
Braki w danych:
id              0
waga            0
wzrost          0
plec            0
dzieci          0
wiek            0
dochod          0
oszczednosci    0
jednoos         0
miejsce         0
wydatki_zyw     0
dtype: int64